nav a {
  width: 417px;
  background-color: #eee; 
  color: black;
  display: block; 
  padding: 15px; 
  text-decoration: none; 
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  text-align: center;
}

a:hover {
  background-color: #ccc; 
}

a {
  text-decoration: none;
  color: black;
}
  
.active { 
  background-color: lightblue; 
  color: white;
} 

h1, h2 { 
  margin: 10px 10px 30px 40px;
}

h2:last-of-type {
  margin: 20px 10px 30px 40px;
}

section {
  display: flex;
}

figure img {
  width: 100%;
}

figcaption {
  margin-bottom: 10px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

figcaption:last-child {
  margin-bottom: 40px;
}

figcaption:hover {
  color: lightcoral;
  cursor: pointer;
}

p {
  margin: 10px 20px 30px 40px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

img[src="images/Pasta gerecht internetstandaarden.jpg"] {
  width: 70%;
}

.info {
  list-style: none;
  width: 150px;
  position: absolute;
  top: 220px;
  left: 80px;
  background-color: white;
  opacity: 80%;
  white-space: pre-wrap;
}

a[href="ingredienten.html"] {
  margin: 40px;
  padding: 20px 60px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: lightgrey;
  text-decoration: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 8px;
}
  
ol li {
  margin-right: 200px;
  padding: 5px;
}

ol li::first-letter {
  color: teal;
  font-size: 20px;
}

ol li:nth-child(odd) {
  font-weight: bold;
}

ol li:nth-child(2) {
  font-style: italic;
}

ol li:last-child {
  margin-bottom: 50px;
}

a[href="http://www.ah.nl/allerhande/video/garnalen-pellen/"] {
  margin: 20px;
  padding: 15px;
  border: 2px solid black;
  background-color: lightgrey;
}

.sign-up {
  border: solid 3px; 
  width: 50%;
  padding: 50px 1px;
  margin: 0 auto;
  color: #5D6063;
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="radio"] {
  transform: scale(1.5);
  float: left;
}

fieldset {
  border: none;
}

legend { 
  font-size: 17px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-left: 30px;
  font-size: 17px;
}

input[type="text"], input[type="email"] {
  width: 25%;
  padding: 7px;
  font-size: 14px;
  text-align: center;
  margin: 10px;
}

footer {
  margin: 40px;
}

